# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

*.class
*.log 

target/
tempdata/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.CSV
*.csv
*.json
*.ZIP
*.zip

